<!DOCTYPE html>
<html ng-app="app">

  <head>
      <meta charset="utf-8">
      <title>Linear iterpolation</title>
      <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/node_modules/highcharts/css/highcharts.css">

  </head>
  <body ng-controller="appctrl" class="container">
    <header>
        <!-- Valiendo chorizo -->
        <h2 class="text-center">{{appTitle}}</h2>
    </header>
    <div class="row">
        <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="x">Enter an 'x' value: </label>
                <input type="number" class="form-control" id="x" ng-model="point.x">
              </div>
              <div class="form-group">
                <label for="y">Enter a 'y' value: :</label>
                <input type="number" class="form-control" id="y" ng-model="point.y">
              </div>
              <button type="submit" class="btn btn-default" ng-click="submitPoint()">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="x">Enter an 'x' value to calculate its 'y': </label>
                <input type="number" class="form-control" id="ex" ng-model="input" ng-change="interpolate(findClosest())">
              </div>
              <div class="form-group">
                <label for="x">Result </label>
                <input disabled class="form-control" ng-model="output">
              </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h3>Points available</h3>
        <ul>
          <li ng-repeat="point in points">{{"[ " + point.x + " , " + point.y + " ]"}}</li>
        </ul>
    </div>

    <div class="row">
        <div id="container"></div>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/highcharts/js/highcharts.js"></script>
  </body>

</html>
